body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*background: #e6f3ff;*/
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

img {
	display: inline-block;
	border-radius: 10px;
}

h1 {
	display: inline-block;
	color: #2a2f35;
	margin-left: 25px;
	vertical-align: top;
	margin-top: 15px;
}
